{% extends "base.html" %}
{% block title %}

{% endblock %}
{% block head %}
    <link rel="stylesheet" href="../static/css/index.css">
{% endblock %}

{% block body %}
    <div class="row" style="margin-top: 20px;">
            <div class="col"></div>
            <div>

                <a href="{{ url_for('testing.question') }}" style=" text-decoration: none; color: red; font-size: 5vw;" >点我去答题！</a>
                <hr>
                <a href="{{ url_for('management.questionManagement') }}" style=" text-decoration: none; color: green; font-size: 5vw;" >点我去管理题库！</a>

            </div>
            <div class="col"></div>
        </div>
    

{% endblock %}

