
{% extends "base.html" %}


{% block title %}}知了传课-管理员操作{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
{% endblock %}


{% block body %}
	<div class="row" style="margin-top: 20px;">
            <div class="col"></div>
            <div class="col-10">
                <ul class="question-ul">
                    {% for user in users %}
                    <li>
                        <div class="question-main">
                            <div class="question-title"><a href="#">{{user.email}}</a></div>
                            <div class="question-content">{{user.username}}</div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col"></div>
        </div>
{% endblock %}





